{% load static %}

<div class="followCard flexDisplay">
          <div>
            <h3>Who to follow</h3>
            <i class="fa fa-clapperboard"></i>
          </div>
          <div>
            <img src="{% static 'img/raamin-ka.jpg' %}" alt="" />
            <div>
              <h2 class="follow_user">Username</h2>
              <h6 class="follow_email">@username</h6>
            </div>
            <button class="roundCorener primaryBtn">Follow</button>
          </div>

          <div>
            <img src="{% static 'img/raamin-ka.jpg' %}" alt="" />
            <div>
              <h2 class="follow_user">Username</h2>
              <h6 class="follow_email">@username</h6>
            </div>
            <button class="roundCorener primaryBtn">Follow</button>
          </div>

          <div>
            <img src="{% static 'img/raamin-ka.jpg' %}" alt="" />
            <div>
              <h2 class="follow_user">Username</h2>
              <h6 class="follow_email">@username</h6>
            </div>
            <button class="roundCorener primaryBtn">Follow</button>
          </div>
        </div>

        <div class="news followCard">
          <div>
            <h3>Trends for you</h3>
            <i class="fa fa-clapperboard"></i>
          </div>
          <div>
            <h4>Type of news</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
              vero sed odio ducimus, iure beatae!
            </p>
          </div>
          <div>
            <h4>Type of news</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
              vero sed odio ducimus, iure beatae!
            </p>
          </div>
        </div>