<div class="container">
    <div class="inlineLinks">
        <i class="fa fa-fly"></i>
        <h5></h5>
    </div>

    <div class="inlineLinks">
        <i class="fa fa-home-user"></i>
        <h5>Home</h5>
    </div>

    <div class="inlineLinks">
        <i class="fa-regular fa-hashtag"></i>
        <h5>Explore</h5>
    </div>

    <div class="inlineLinks">
        <i class="fa-regular fa-note-sticky"></i>
        <h5>Notifications</h5>
    </div>

    <div class="inlineLinks">
        <i class="fa-regular fa-message"></i>
        <h5>Messages</h5>
    </div>

    <div class="inlineLinks">
        <i class="fa-regular fa-bookmark"></i>
        <h5>Bookmarks</h5>
    </div>

    <div class="inlineLinks">
        <i class="fa fa-list"></i>
        <h5>Lists</h5>
    </div>

    <div class="inlineLinks">
        <i class="fa-regular fa-user"></i>
        <h5>Profile</h5>
    </div>

    <div class="inlineLinks">
        <i class="fa fa-mobile"></i>
        <h5>More</h5>
    </div>

    <button class="primaryBtn roundCorener">Tweet</button>
</div>

<div class="userInfo">
    <h2>Username</h2>
</div>