    <div class="tweet--container">
        <div class="user--img">
            <img  loading="lazy" width="50" height="50" src="{{tweet.user.profile.profile_picture_url}}" alt="">
        </div>
        <div class="tweet">
            <div class="user-info">
                <h2 class="follow_user">{{tweet.user}}</h2>
                <h6 class="follow_email">@{{tweet.user}}</h6>
                <h6 class="tweet-date">Jun 26</h6>
            </div>
            <p>{{tweet.content|safe}}</p>
            <div class="tweet-img">
                
                {% if tweet.tweet_picture %}
                    <img  loading="lazy" width="200" height="200" src="{{tweet.tweet_picture_url}}" alt="">
                {% endif %}
                    
            </div>
            <div class="tweet-trends">
                <div class="action tooltip">
                    <span class="tooltiptext">Reply</span>
                    <i class="fa-regular fa-comment"></i>
                    <h6>123</h6>
                </div>
                <div class="action tooltip">
                    <span class="tooltiptext">Retweet</span>
                    <i class="fa fa-retweet"></i>
                    <h6>345</h6>
                </div>

                <div hx-get="{% url 'like_hx' tweet.id %}" hx-swap="innerHTML" class="action tooltip {% if user.id in tweet.users_like_id %}like{% endif %}">
                    <span class="tooltiptext">{% if user.id in tweet.users_like_id %}Dislike{% else %}regular{% endif %}</span>
                    <i class="fa-{% if user.id in tweet.users_like_id %}solid {% else %}regular{% endif %} fa-heart"></i>
                    <h6 id="like{{tweet.id}}">{{tweet.likes}}</h6>
                </div>

                <div class="action tooltip">
                    <span class="tooltiptext">View</span>
                    <i class="fa fa-chart-simple"></i>
                    <h6>{{tweet.views}}</h6>
                </div>

                <div class="action tooltip">
                    <span class="tooltiptext">Share</span>
                    <i class="fa-regular fa-share-from-square fa-rotate-270"></i>
                </div>
            </div>
        </div>
    </div>