{% load static %}

{% if tweets.count > 1 %}

    {% for tweet in tweets %}

    {{page_obj.has_next}}

    {% if forloop.last  %}
        <div hx-get="{% url 'tweet_list' %}?page={{page_obj.number|add:1}}" hx-trigger="revealed" hx-swap="beforeend" hx-target="#tweets_container">
        </div>
    
    {% endif %}
        {% include 'main/partials/_tweet.html' with tweet=tweet %}
    {% endfor %}

{% else %}

    {% if tweets.queryset %}
        {% for tweet in tweets %}
            {% include 'main/partials/_tweet.html' with tweet=tweet %}
        {% endfor %}
    {% else %}
    {% with tweet as tweets %}
            {% include 'main/partials/_tweet.html' with tweet=tweet %}
        {% endwith %}
    {% endif %}

{% endif %}