{% load static %}

<div class="tweet--container">
    <div class="user--img">
        <img src="{% static 'img/raamin-ka.jpg' %}" alt="">
    </div>
    <div class="tweet">
        <div class="user-info">
            <h2 class="follow_user">Username</h2>
            <h6 class="follow_email">@username</h6>
            <h6 class="tweet-date">Jun 26</h6>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, iste.</p>
        <div class="tweet-img">
            <img src="{% static 'img/raamin-ka.jpg' %}" alt="">
        </div>
        <div class="tweet-trends">
            <div class="action">
                <i class="fa fa-bullseye"></i>
                <h6>123</h6>
            </div>
            <div class="action">
                <i class="fa fa-recycle"></i>
                <h6>345</h6>
            </div>
            <div class="action">
                <i class="fa fa-heart"></i>
                <h6>234</h6>
            </div>
            <div class="action">
                <i class="fa fa-money-bill-transfer"></i>
                <h6></h6>
            </div>
        </div>
    </div>
</div>