{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scss/main.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'static/css/webfonts/' %}"> -->

    
    <!-- custom css links -->
    {% include '_csslink.html' %}
    
    <!-- CDN link -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    
    <!-- TinyMCE widget assets -->
    {{ form.media }}
    <title>
        {% block title %}
            social
        {% endblock title %}
            
    </title>
</head>
<body>
    


{% block content %}
    
{% endblock content %}
    
<script src="{% static 'js/profil.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/htmx.min.js' %}" defer></script>
</body>
</html>