{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scss/main.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'static/css/webfonts/' %}"> -->

    <!-- custom css links -->
    {% include '_csslink.html' %}

    <!-- TinyMCE widget assets -->
    {{ form.media }}
    <title>
        {% block title %}
            social
        {% endblock title %}
            
    </title>
</head>
<body>
    


{% block content %}
    
{% endblock content %}
    
<script src="{% static 'js/profil.js' %}"></script>
<script src="{% static 'js/htmx.min.js' %}"></script>
</body>
</html>