*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

img {
    width: 100%;
}

i {
  margin-inline-end: 7px;
  // font-size: clamp(16px, 16px + 2vw ,20px);
}


// @media (prefers-color-scheme:dark){
  // .btn {
  //   color: gray;
  // }
// }
// 
.btn {
  background-color: $blue_light;
  color: $bg_color;
  padding: 0.77em 1em;
  margin-block-start: 1em;
  width: 100%;
  font-size: clamp(0.7rem, 0.6em + 3vw, 1rem);
  border-radius: 8px;
  border: none;
  box-shadow: 0px 2px 6px 6px $shadow_color;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn:hover {
  background-color: $blue_light_alt;
  transition: all 0.5s ease;
}

button {
  // padding: 0.2rem 1rem;
  // margin-block-start: 1em;
  width: fit-content;
  font-size: clamp(0.7rem, 0.6em + 3vw, 1rem);
  border-radius: 8px;
  border: none;
  box-shadow: 0px 2px 6px 6px $shadow_color;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.5s ease;
}


// htmx indicator

// .htmx-indicator{
//     display:none;
// }
// .htmx-request .my-indicator{
//     display:inline;
// }
// .htmx-request.my-indicator{
//     display:inline;
// }

