// mixin


/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

// /* 1200px / 16px = 75em */
// @media (max-width: 75em) {
//   html {
//     font-size: 60%;
//   }
// }

// @mixin media-lg {
//   @media (max-width: 60em) {
//     @content;
//   }
// }

// /* 980px / 16px = 61.25em */
// @media (max-width: 62em) {
//   html {
//     font-size: 58%;
//   }
// }


// @mixin media-md {
//   @media (max-width: 61.25em) {
//     @content;
//   }
// }

// /* 460px / 16px = 28.75em */
// @media (max-width: 28.75em) {
//   html {
//     font-size: 55%;
//   }
// }

// @mixin media-xl {
//   @media (max-width: 28.75em) {
//     @content;
//   }
// }


//  avec @include + le nom du mixin( + les arguments)

// absolute mixin
@mixin absolute-mixin($top, $right, $bottom, $left, $x, $y) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: translate($x, $y);
}

@mixin display-flex($direction:row,$justify:center, $align:center,$wrap:wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}


// transition

@mixin transition($property:all, $duration:0.3s, $type:ease-in, $delay:0s){
    transition:$property $duration $type $delay;
}

//  pseudo element
@mixin pseudo-element($display: block, $position: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $position;
}