
//  @extends + le nom du placeholder
// ici c'est @extend %flex-center


%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%gradient-color{
  background: radial-gradient(circle farthest-corner at top left,$blue_light_alt 10%, $blue_light);
}


//  transition

%transition-ease-in {
  transition: all .3s ease-in;
}