// for light theme
$bg_color:#ffffff;
$blue_light:#00a0f4;
$gray_bg:#dfe0e4;
$text_gray:#426372;


$text_color:#ffffff;
$blue_light_alt:#00d8fb;
$blue_light:#00a0f0;
$shadow_color:#d8d9dd;


$raduis:1rem;

// $blue_heavy:#011e30;
// $c:#01c5ff;


// @media (prefers-color-scheme:light){

// // for light theme
// $bg_color:#ffffff;
// $blue_light:#00a0f4;
// $gray_bg:#dfe0e4;
// $text_gray:#426372;

// }

// @media (prefers-color-scheme:dark){

// // for dark theme
// $text_gray:#849ba9;
$dark_bg_color:#001321;
$dark_gray_color:#011e30;
// $blue_light:#02a4f0;
// } 