{% include 'base.html' %} {% load static %} {% block content %}
<main class="index">
  <aside class="left--section">
    <div class="section__fixed centerEle fullHeight">

      {% include 'main/partials/_navbar.html' %}
      
    </div>
  </aside>

  <section class="main--section">
    <div id="main-header" class="container">

      {% include 'main/partials/_header.html' %}
    </div>

    <section class="tweets--container">
      <div class="tweet-nav">
        <h3><a href="#">Tweets</a></h3>
        <h3><a href="#">Tweets and replies</a></h3>
        <h3><a href="#">Multimedia</a></h3>
        <h3><a href="#">Likes</a></h3>
      </div>

      <div id="tweets_container" class="onload">

        <div 
            hx-get="{% url 'tweet_list' %}?page={{page_obj.number|add:1}}" hx-trigger="revealed" 
            hx-swap="afterend" 
            hx-target="this" 
            name="indexLoading">
          {{is_last_page}}is_last_page
        </div>

      </div>

    </section>
  </section>

  <aside class="rigth--section centerEle">
    <div class="section__fixed" id="tcontainer">
      <div class="container flexDisplay fullHeight">
        <div class="search--container">
          <input class="search" type="text" placeholder="Search on twitter" />
          <i class="fa fa-search"></i>
        </div>

        {% include 'main/partials/_new_friends.html' %}

        {% include 'main/partials/_follow.html' %}
      </div>
    </div>
  </aside>

</main>

{% endblock content %}
