{% extends 'auth/base.html' %}
{% block title %}Reset your password{% endblock %}

{% block content %}

<section class="form--container resetPassword ">
    <p><i class="fa fa-check-circle"></i> Action accomplish successfully</p>
</section>

<main class="form--container">
    <h1 class="title">Reset your password</h1>
    <p class="detail">We've emailed you instructions for setting your password.</p>
    <p class="detail">If you don't receive an email, please make sure you've entered the address you registered with.</p>
</main>

{% endblock %}